<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div><img class="fe" src="/gfx/kurnik4.png" alt="Kurnik" width="232" height="29" style="margin-right: 2em;" /></div>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
          <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
        {% endfor %}

    </body>
</html>
